.main {
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
}

.main form {
  width: 500px;
  height: 400px;
  margin: auto;
  border: 1px solid lightgray;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.165);
  padding: 1rem;
}

.main input,
.main textarea {
  width: 100%;
  margin-bottom: 1rem;
  min-height: 25px;
}

.main textarea {
  min-height: 100px;
}
